body {
    margin: 0;
    padding: 8px;
    border-top: 16px solid rgb(51, 92, 255);
    box-sizing: content-box;
}

ul {
    list-style-type: none;
    padding-left: 0; /* 如果你希望项目符号的缩进也消失，可以去除默认的填充 */
}

ul.profile li{
    margin-top: 8px;
}

ul.works li{
    border-bottom: 1px solid #ccc;
    padding-bottom: 24px;
}

ul .abbreviation {
    padding: 4px;
    margin: 6px;
    display: inline-block;
    color: #ffffff;
    background-color: blue;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}